<div class="Box-row Box-row--focus-gray p-0 mt-0">
  <div class="d-flex Box-row--drag-hide position-relative">
    <div class="flex-shrink-0 pt-2 pl-3">
      <span class="tooltipped tooltipped-e" aria-label="Open issue">
        <%= render(Primer::OcticonComponent.new(:"issue-opened", color: :success)) %>
      </span>
    </div>

    <div class="flex-auto min-width-0 p-2 pr-3 pr-md-2">
      <a class="Link--primary v-align-middle no-underline h4 markdown-title" href="<%= issue_path(params[:user], params[:repo], issue.number) %>" data-turbo-frame="_top">
        <%= issue.title %>
      </a>
      <% issue.labels.each do |label| %>
        <%= render partial: "shared/label", locals: {label: label} %>
      <% end %>
      <div class="d-flex mt-1 text-small color-fg-muted">
        <span class="opened-by">
          #<%= issue.number %>
        opened <relative-time datetime="<%= issue.created_at %>" class="no-wrap" title="12 Nov 2021, 18:53 GMT">
          <%= time_ago_in_words(issue.created_at) %> ago </relative-time> by
        <a class="Link--muted" title="Open issues created by <%= issue.user.login %>" href="https://github.com/whatwg/html/issues?q=is%3Aissue+is%3Aopen+author%3A<%= issue.user.login %>"><%= issue.user.login %></a>

        </span>
      </div>
    </div>

    <div class="flex-shrink-0 col-3 pt-2 text-right pr-3 no-wrap d-flex hide-sm ">
      <%# These two spans are here to properly align the last two spans %>
      <span class="ml-2 flex-1 flex-shrink-0"></span>
      <span class="ml-2 flex-1 flex-shrink-0"></span>
      <span class="ml-2 flex-1 flex-shrink-0">
        <%= render(Primer::Beta::AvatarStack.new) do |c| %>
          <% issue.assignees.each do |assignee| %>
            <% c.avatar(src: assignee.avatar_url, alt: assignee.login) %>
          <% end %>
        <% end %>
      </span>
      <span class="ml-2 flex-1 flex-shrink-0">
        <% if issue.comments > 0 %>
          <a href="/<%= params[:user] %>/<%= params[:repo] %>/issues/<%= issue.number %>" class="Link--muted" aria-label="<%= pluralize(issue.comments, "comments") %>" data-turbo-frame="_top">
            <%= render(Primer::OcticonComponent.new(:"comment", classes: "v-align-middle")) %>
            <span class="text-small text-bold"><%= issue.comments %></span>
          </a>
        <% end %>
      </span>
    </div>
  </div>
</div>
