<% content_for :header do %>
  <div class="Header-item Header-item--full min-width-0">
    <nav aria-label="Breadcrumb" class="width-fit">
      <ol class="Truncate hx_breadcrumb-header-crumbs">
        <li class="list-style-none Truncate-text ml-0">
          <a class="Header-link py-3 mt-n3 mb-n3 text-normal" href="https://github.com/<%= params[:user] %>"><%= params[:user] %></a>
        </li>

        <li class="list-style-none Truncate-text ml-0">
          <span class="cursor-default mx-2 color-fg-muted">/</span>
          <a class="Header-link py-3 mt-n3 mb-n3 text-normal" href="https://github.com/<%= params[:user] %>/<%= params[:repo] %>"><%= params[:repo] %></a>
        </li>

        <li class="list-style-none Truncate-text ml-0">
          <span class="cursor-default mx-2 color-fg-muted">/</span>
          <span class="py-3 mt-n3 mb-n3 text-bold Header-current-page">Issues</span>
        </li>
      </ol>
    </nav>
  </div>
<% end %>

<div class="clearfix new-discussion-timeline container-xl px-3 px-md-4 px-lg-5">
  <div class="Box mt-3 Box--responsive hx_Box--firstRowRounded0">
    <div aria-label="Issues" role="group">
      <% @issues.each do |issue| %>
      <div id="issue_7329" class="Box-row Box-row--focus-gray p-0 mt-0 js-navigation-item js-issue-row navigation-focus" data-id="1052312922" data-pjax="#repo-content-pjax-container">
        <div class="d-flex Box-row--drag-hide position-relative">
          <div class="flex-shrink-0 pt-2 pl-3">
            <span class="tooltipped tooltipped-e" aria-label="Open issue">
              <svg class="octicon octicon-issue-<%= issue.state%>ed <%= issue.state %>" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path><path fill-rule="evenodd" d="M8 0a8 8 0 100 16A8 8 0 008 0zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0z"></path></svg>
            </span>
          </div>
  
          <!-- Issue title column -->
          <div class="flex-auto min-width-0 p-2 pr-3 pr-md-2">
            <a class="Link--primary v-align-middle no-underline h4 markdown-title" href="<%= issue_path(params[:user], params[:repo], issue.number) %>">
              <%= issue.title %>
            </a>
            <%#
            <span class="labels lh-default d-block d-md-inline">
              <a href="/whatwg/html/issues?q=is%3Aissue+is%3Aopen+label%3A%22topic%3A+canvas%22" data-name="topic: canvas" style="--label-r:0;--label-g:152;--label-b:0;--label-h:120;--label-s:100;--label-l:29;" data-view-component="true" class="IssueLabel hx_IssueLabel">
                topic: canvas
              </a>
            </span>
            #%>
              <div class="d-flex mt-1 text-small color-fg-muted">
                <span class="opened-by">
                  #<%= issue.number %>
                opened <relative-time datetime="<%= issue.created_at %>" class="no-wrap" title="12 Nov 2021, 18:53 GMT">
                  <%= time_ago_in_words(issue.created_at) %> ago </relative-time> by
                  <a class="Link--muted" title="Open issues created by <%= issue.user.login %>" href="https://github.com/whatwg/html/issues?q=is%3Aissue+is%3Aopen+author%3A<%= issue.user.login %>"><%= issue.user.login %></a>
  
                </span>
              </div>
          </div>
  
          <div class="flex-shrink-0 col-3 pt-2 text-right pr-3 no-wrap d-flex hide-sm ">
            <span class="ml-2 flex-1 flex-shrink-0">
              <div class="AvatarStack AvatarStack--right ml-2 flex-1 flex-shrink-0 ">
                <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-multiline tooltipped-align-right-1 mt-1" aria-label="Assigned to ">
                </div>
              </div>
            </span>
          </div>
          <a class="d-block d-md-none position-absolute top-0 bottom-0 left-0 right-0" aria-label="Link to Issue. <%= issue.title %>" href="https://github.com/whatwg/html/issues/<%= issue.number %>"></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
