<% content_for :title do %>
  Issues • <%= params[:user] %>/<%= params[:repo] %>
<% end %>

<% content_for :header do %>
  <div class="Header-item Header-item--full min-width-0">
    <nav aria-label="Breadcrumb" class="width-fit">
      <ol class="Truncate hx_breadcrumb-header-crumbs">
        <li class="list-style-none Truncate-text ml-0">
          <a class="Header-link py-3 mt-n3 mb-n3 text-normal" href="https://github.com/<%= params[:user] %>"><%= params[:user] %></a>
        </li>

        <li class="list-style-none Truncate-text ml-0">
          <span class="cursor-default mx-2 color-fg-muted">/</span>
          <a class="Header-link py-3 mt-n3 mb-n3 text-normal" href="https://github.com/<%= params[:user] %>/<%= params[:repo] %>"><%= params[:repo] %></a>
        </li>

        <li class="list-style-none Truncate-text ml-0">
          <span class="cursor-default mx-2 color-fg-muted">/</span>
          <span class="py-3 mt-n3 mb-n3 text-bold Header-current-page">Issues</span>
        </li>
      </ol>
    </nav>
  </div>
<% end %>

<style>
.Box-row:first-of-type {
  border-top: 0;
}
</style>

<div class="clearfix new-discussion-timeline container-xl px-3 px-md-4 px-lg-5">
  <div class="mt-3">
    <%= render 'shared/issues_search' %>
  </div>
  <div class="Box mt-3 Box--responsive hx_Box--firstRowRounded0">
    <div aria-label="Issues" role="group">
      <% @issues.each do |issue| %>
        <%= render partial: "issues/issue_list_item", locals: { issue: issue } %>
        <% end.empty? and begin %>
        <% if params[:query].present? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.visual_icon(icon: :"issue-opened") %>
            <% c.heading(tag: :h2).with_content("No results matched your search.") %>
            <% c.description do %>
              <p>You could search <a href="https://github.com/search">all of GitHub</a> or try an <a href="https://github.com/search/advanced">advanced search</a>.</p>
            <% end %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.visual_icon(icon: :"issue-opened") %>
            <% c.heading(tag: :h2).with_content("There aren’t any open issues.") %>
            <% c.description do %>
              <p>You could search <a href="https://github.com/search">all of GitHub</a> or try an <a href="https://github.com/search/advanced">advanced search</a>.</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
