<style>
.discussion-timeline-actions {
  background-color: var(--color-canvas-default);
  border-top: 2px solid var(--color-border-default);
}
.timeline-comment-wrapper {
    position: relative;
    padding-left: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.timeline-new-comment {
    margin-bottom: 0;
}

.timeline-comment-avatar {
    float: left;
    margin-left: -56px;
    border-radius: 6px;
}

.timeline-comment {
    position: relative;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
}

.previewable-comment-form .comment-form-head.tabnav .toolbar-commenting {
    background: var(--color-canvas-default);
}
  
@media (min-width: 1012px) {
  .previewable-comment-form .comment-form-head.tabnav .toolbar-commenting {
    background: transparent;
  }
}


.comment-form-head .toolbar-commenting {
    float: right;
}
.previewable-comment-form {
    position: relative;
}

.tabnav--responsive .tabnav-tabs {
    z-index: 1;
}

.drag-and-drop {
    border-color: var(--color-border-default);
}

@media (min-width: 768px) {
  .previewable-comment-form .comment-form-head.tabnav {
    background: var(--color-canvas-subtle);
  }
}

.previewable-comment-form .comment-form-head.tabnav {
    padding: 8px 8px 0;
    background: var(--color-canvas-subtle);
    border-radius: 6px 6px 0 0;
}
.timeline-new-comment .comment-form-head {
    margin-bottom: 8px;
}

.Details:not(.Details--on) .Details-content--hidden {
    display: none !important;
}

.toolbar-item {
    display: block;
    float: left;
    padding: 4px;
    font-size: 14px;
    color: var(--color-fg-muted);
    cursor: pointer;
    background: none;
    border: 0;
}

.toolbar-item .menu-target {
    display: block;
    padding: 4px;
    color: var(--color-fg-muted);
    background: none;
    border: 0;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline-new-comment .previewable-comment-form .comment-body {
    padding: 4px 4px 16px;
    border-bottom: 1px solid var(--color-border-default);
}

.previewable-comment-form .comment-body {
    padding: 4px 4px 16px;
    background-color: transparent;
    border-bottom: 1px solid var(--color-border-default);
}
.comment-body {
    width: 100%;
    padding: 15px;
    overflow: visible;
    font-size: 14px;
}
.previewable-comment-form .comment {
    border: 0;
}
</style>

<div class="discussion-timeline-actions">
  <div class="timeline-comment-wrapper timeline-new-comment js-comment-container js-targetable-element  ml-0 pl-0 ml-md-6 pl-md-3" id="issuecomment-new">
    <div class=" d-none d-md-block">
      <span class="timeline-comment-avatar ">
        <a class="d-inline-block" href="/koddsson">
          <img class="avatar avatar-user" src="https://avatars.githubusercontent.com/u/318208?s=80&amp;v=4" width="40" height="40" alt="@koddsson">
        </a>
      </span>
    </div>
    <div class="border-0 border-md timeline-comment timeline-comment--caret">
      <form class="js-new-comment-form js-needs-timeline-marker-header" action="<%= comments_path(params[:user], params[:repo], params[:number]) %>" accept-charset="UTF-8" method="post">
        <fieldset class="min-width-0">
          <%= render(Primer::TabContainerComponent.new(
            classes: "js-previewable-comment-form previewable-comment-form write-selected",
            "data-preview-url": "/preview"
          )) do %>
            <div class="comment-form-head tabnav d-flex flex-justify-between mb-2 p-0 tabnav--responsive flex-column border-bottom-0 mb-0 mb-lg-2 flex-items-stretch border-lg-bottom color-border-default flex-lg-items-center flex-lg-row">
              <div class="tabnav-tabs mx-0 mx-md-2 mt-0 mt-md-2 no-wrap d-flex flex-auto d-md-block" role="tablist">
                <button type="button" class="btn-link tabnav-tab write-tab js-write-tab px-3 px-sm-6 px-md-3 flex-1 flex-md-auto" role="tab" aria-selected="true" tabindex="0">
                  Write
                </button>
                <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab flex-1 flex-md-auto" role="tab" aria-selected="false" tabindex="-1">
                  Preview
                </button>
              </div>
              <%= render partial: "shared/markdown_toolbar" %>
            </div>

            <div class="comment-form-error js-comment-form-error" role="alert" hidden>
              There was an error creating your Issue.
            </div>

            <file-attachment class="js-upload-markdown-image is-default" input="fc-new_comment_field" role="tabpanel" data-tab-container-no-tabstop="true" data-upload-repository-id="11969507" data-upload-policy-url="/upload/policies/assets"><input type="hidden" value="bY59wErMP5Rd8sqNKaFzJyZ/B2zplLAx9hbcprd6rv/IWLva2uQogEiSj2nSgzCkd1xbfF64vNDZFKLTRbH2Pw==" data-csrf="true" class="js-data-upload-policy-url-csrf">
              <div class="write-content js-write-bucket hide-reaction-suggestion upload-enabled mx-0 mt-2 mb-2 mx-md-2 hx_sm-hide-drag-drop js-reaction-suggestion" data-reaction-markup="Would you like to leave a reaction instead?">
                <text-expander keys=": @ #" data-issue-url="/suggestions/issue/1056999977?issue_suggester=1&amp;repository=html&amp;user_id=whatwg" data-mention-url="/suggestions/issue/1056999977?mention_suggester=1&amp;repository=html&amp;user_id=whatwg" multiword="#" data-emoji-url="/autocomplete/emoji">
                    <textarea name="comment[body]" placeholder="Leave a comment" aria-label="Comment body"class="form-control input-contrast comment-form-textarea" required></textarea>
                  </text-expander>

                <label class="text-normal drag-and-drop hx_drag-and-drop position-relative d-flex flex-justify-between" data-dashlane-label="true">
                  <input accept=".gif,.jpeg,.jpg,.mov,.mp4,.png,.csv,.docx,.fodg,.fodp,.fods,.fodt,.gz,.log,.md,.odf,.odg,.odp,.ods,.odt,.pdf,.pptx,.txt,.xls,.xlsx,.zip" type="file" multiple="" class="manual-file-chooser manual-file-chooser-transparent top-0 right-0 bottom-0 left-0 width-full ml-0 form-control rounded-top-0" id="fc-new_comment_field" data-dashlane-rid="c919879fd3f50b69" data-form-type="">
                  <span class="color-bg-subtle position-absolute top-0 left-0 rounded-bottom-2 width-full height-full" style="pointer-events: none;"></span>
                  <span class="position-relative pr-2" style="pointer-events: none;">
                    <span class="default">
                      Attach files by dragging &amp; dropping, selecting or pasting them.
                    </span>
                    <span class="loading">
                      <span role="status">
                        <span class="sr-only">Loading</span>
                        <svg style="box-sizing: content-box; color: var(--color-icon-primary);" width="16" height="16" viewBox="0 0 16 16" fill="none" data-view-component="true" class="v-align-text-bottom mr-1 anim-rotate">
                          <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke"></circle>
                          <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
                        </svg></span>
                        <!-- END vendor/gems/3.0.3/ruby/3.0.0/gems/primer_view_components-0.0.60/app/components/primer/spinner_component.rb -->
                        <span class="js-file-upload-loading-text" data-file-upload-message="Uploading your files…">
                          Uploading your files…
                        </span>
                    </span>
                    <span class="error bad-file">
                      We don’t support that file type.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again</span> with a
                        GIF, JPEG, JPG, MOV, MP4, PNG, CSV, DOCX, FODG, FODP, FODS, FODT, GZ, LOG, MD, ODF, ODG, ODP, ODS, ODT, PDF, PPTX, TXT, XLS, XLSX or ZIP.
                      </span>
                    </span>
                    <span class="error bad-permissions">
                      Attaching documents requires write permission to this repository.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV, MP4, PNG, CSV, DOCX, FODG, FODP, FODS, FODT, GZ, LOG, MD, ODF, ODG, ODP, ODS, ODT, PDF, PPTX, TXT, XLS, XLSX or ZIP.
                      </span>
                    </span>
                    <span class="error repository-required">
                      We don’t support that file type.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again</span> with a GIF, JPEG, JPG, MOV, MP4, PNG, CSV, DOCX, FODG, FODP, FODS, FODT, GZ, LOG, MD, ODF, ODG, ODP, ODS, ODT, PDF, PPTX, TXT, XLS, XLSX or ZIP.
                      </span>
                    </span>
                    <span class="error too-big js-upload-too-big">
                    </span>
                    <span class="error empty">
                      This file is empty.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again</span> with a file that’s not empty.
                      </span>
                    </span>
                    <span class="error hidden-file">
                      This file is hidden.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again</span> with another file.
                      </span>
                    </span>
                    <span class="error failed-request">
                      Something went really wrong, and we can’t process that file.
                      <span class="drag-and-drop-error-info">
                        <span class="btn-link">Try again.</span>
                      </span>
                    </span>
                  </span>
                  <span>
                    <a class="Link--muted position-relative d-inline" href="https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax" target="_blank">
                      <%= render Primer::OcticonComponent.new(:markdown, size: :small, classes: 'v-align-bottom') %>
                    </a>
                  </span>
                </label>
              </div>
            </file-attachment>
            <div role="tabpanel" class="js-preview-panel overflow-auto border-bottom mx-0 my-3 mx-md-2 mb-md-2" hidden>
              <div class="comment js-suggested-changes-container">
                <div class="comment-body markdown-body js-preview-body" style="min-height: 131px;">
                  <p>Nothing to preview</p>
                </div>
              </div>
            </div>
            <div class="comment-form-error mb-2 js-comment-update-error" hidden></div>
          <% end %>
        </fieldset>
        <div class="form-actions m-0 mx-md-2 my-md-2 p-0">
          <div id="partial-new-comment-form-actions">
            <div class="d-flex flex-justify-end">
              <div class="color-bg-subtle"></div>
              <div class="color-bg-subtle ml-1">
                <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>
                  Comment
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </form>    
    </div>

    <%# This is hidden because we need to fetch the repos contributing guidelines before we can render it. %>
    <div class="text-small color-fg-muted mx-md-2 mt-md-2 mb-2 mt-3" hidden>
      <%= render(Primer::OcticonComponent.new(icon: :info)) %>
        Remember, contributions to this repository should follow its
        <a href="https://github.com/whatwg/html/blob/29cad7152dc9f1ec1f043acd217d7a0952e66360/CONTRIBUTING.md">contributing guidelines</a>.
      </div>
  </div>
</div>
