<style>
.discussion-timeline-actions {
  background-color: var(--color-canvas-default);
  border-top: 2px solid var(--color-border-default);
}
.timeline-comment-wrapper {
    position: relative;
    padding-left: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.timeline-new-comment {
    margin-bottom: 0;
}

.timeline-comment-avatar {
    float: left;
    margin-left: -56px;
    border-radius: 6px;
}

.timeline-comment {
    position: relative;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
}

.previewable-comment-form .comment-form-head.tabnav .toolbar-commenting {
    background: var(--color-canvas-default);
}
  
@media (min-width: 1012px) {
  .previewable-comment-form .comment-form-head.tabnav .toolbar-commenting {
    background: transparent;
  }
}


.comment-form-head .toolbar-commenting {
    float: right;
}
.previewable-comment-form {
    position: relative;
}

.tabnav--responsive .tabnav-tabs {
    z-index: 1;
}

.drag-and-drop {
    border-color: var(--color-border-default);
}

@media (min-width: 768px) {
  .previewable-comment-form .comment-form-head.tabnav {
    background: var(--color-canvas-subtle);
  }
}

.previewable-comment-form .comment-form-head.tabnav {
    padding: 8px 8px 0;
    background: var(--color-canvas-subtle);
    border-radius: 6px 6px 0 0;
}
.timeline-new-comment .comment-form-head {
    margin-bottom: 8px;
}

.Details:not(.Details--on) .Details-content--hidden {
    display: none !important;
}

.toolbar-item {
    display: block;
    float: left;
    padding: 4px;
    font-size: 14px;
    color: var(--color-fg-muted);
    cursor: pointer;
    background: none;
    border: 0;
}

.toolbar-item .menu-target {
    display: block;
    padding: 4px;
    color: var(--color-fg-muted);
    background: none;
    border: 0;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline-new-comment .previewable-comment-form .comment-body {
    padding: 4px 4px 16px;
    border-bottom: 1px solid var(--color-border-default);
}

.previewable-comment-form .comment-body {
    padding: 4px 4px 16px;
    background-color: transparent;
    border-bottom: 1px solid var(--color-border-default);
}
.comment-body {
    width: 100%;
    padding: 15px;
    overflow: visible;
    font-size: 14px;
}
.previewable-comment-form .comment {
    border: 0;
}
</style>

<div class="discussion-timeline-actions">
  <div class="timeline-comment-wrapper timeline-new-comment js-comment-container js-targetable-element  ml-0 pl-0 ml-md-6 pl-md-3" id="issuecomment-new">
    <div class=" d-none d-md-block">
      <span class="timeline-comment-avatar ">
        <a class="d-inline-block" href="/koddsson">
          <img class="avatar avatar-user" src="https://avatars.githubusercontent.com/u/318208?s=80&amp;v=4" width="40" height="40" alt="@koddsson">
        </a>
      </span>
    </div>
    <div class="border-0 border-md timeline-comment timeline-comment--caret">
      <form class="js-new-comment-form js-needs-timeline-marker-header" action="<%= comments_path(params[:user], params[:repo], params[:number]) %>" accept-charset="UTF-8" method="post">
        <fieldset class="min-width-0">
          <%= render(Primer::Alpha::TabPanels.new(
            label: "Comment Form",
            classes: "write-selected comment-form-head", wrapper_arguments: {
              classes: "js-previewable-comment-form previewable-comment-form",
              "data-preview-url": "/preview"
            },
          )) do |component| %>
            <% component.tab(id: "write-comment", selected: true) do |t| %>
              <% t.text { "Write" } %>
              <% t.panel do %>
                <div class="js-write-bucket hide-reaction-suggestion upload-enabled mx-0 mt-2 mb-2 mx-md-2 hx_sm-hide-drag-drop js-reaction-suggestion" data-reaction-markup="Would you like to leave a reaction instead?">
                  <textarea name="comment[body]" placeholder="Leave a comment" aria-label="Comment body"class="form-control input-contrast comment-form-textarea" required></textarea>

                  <label class="text-normal drag-and-drop hx_drag-and-drop position-relative d-flex flex-justify-between" data-dashlane-label="true">
                    <a class="Link--muted text-right flex-1 position-relative d-inline" href="https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax" target="_blank">
                      <%= render Primer::OcticonComponent.new(:markdown, size: :small, classes: 'v-align-bottom') %>
                    </a>
                  </label>
                </div>
              <% end %>
            <% end %>
            <% component.tab(id: "preview-comment") do |t| %>
              <% t.text { "Preview" } %>
              <% t.panel(classes: "js-preview-panel overflow-auto border-bottom mx-0 my-3 mx-md-2 mb-md-2 comment-body markdown-body js-preview-body", style: "min-height: 131px;") do %>
                <p>Nothing to preview</p>
              <% end %>
            <% end %>

            <% component.extra do %>
              <%= render partial: "shared/markdown_toolbar" %>
            <% end %>
          <% end %>
        </fieldset>
        <div class="form-actions m-0 mx-md-2 my-md-2 p-0">
          <div id="partial-new-comment-form-actions">
            <div class="d-flex flex-justify-end">
              <div class="color-bg-subtle"></div>
              <div class="color-bg-subtle ml-1">
                <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>
                  Comment
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </form>    
    </div>

    <%# This is hidden because we need to fetch the repos contributing guidelines before we can render it. %>
    <div class="text-small color-fg-muted mx-md-2 mt-md-2 mb-2 mt-3" hidden>
      <%= render(Primer::OcticonComponent.new(icon: :info)) %>
        Remember, contributions to this repository should follow its
        <a href="https://github.com/whatwg/html/blob/29cad7152dc9f1ec1f043acd217d7a0952e66360/CONTRIBUTING.md">contributing guidelines</a>.
      </div>
  </div>
</div>
