<style>
.avatar-user {
  border-radius: 50% !important;
}
.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--color-avatar-bg);
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.sidebar-assignee .assignee {
  font-weight: 600;
  color: var(--color-fg-muted);
  vertical-align: middle;
}

.participation .participant-avatar {
  float: left;
  margin: 4px 0 0 4px;
}

.participation a {
  color: var(--color-fg-muted);
}

.discussion-sidebar-heading {
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--color-fg-muted);
}

.discussion-sidebar-item {
  padding-top: 16px;
  font-size: 12px;
  color: var(--color-fg-muted);
}

.discussion-sidebar-item+.discussion-sidebar-item {
  margin-top: 16px;
  border-top: 1px solid var(--color-border-muted);
}

:root .hx_IssueLabel, [data-color-mode=light][data-light-theme*=light] .hx_IssueLabel, [data-color-mode=dark][data-dark-theme*=light] .hx_IssueLabel {
  --lightness-threshold: 0.453;
  --border-threshold: 0.96;
  --border-alpha: max(0, min(calc((var(--perceived-lightness) - var(--border-threshold)) * 100), 1));
  background: rgb(var(--label-r), var(--label-g), var(--label-b));
  color: hsl(0, 0%, calc(var(--lightness-switch) * 100%));
  border-color: hsla(var(--label-h), calc(var(--label-s) * 1%), calc((var(--label-l) - 25) * 1%), var(--border-alpha));
}

.hx_IssueLabel {
  --perceived-lightness: calc( ((var(--label-r) * 0.2126) + (var(--label-g) * 0.7152) + (var(--label-b) * 0.0722)) / 255 );
  --lightness-switch: max(0, min(calc((var(--perceived-lightness) - var(--lightness-threshold)) * -1000), 1));
}
</style>

<div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item">
  <form class="js-issue-sidebar-form" aria-label="Select assignees" action="/whatwg/html/issues/7342/assignees" accept-charset="UTF-8" method="post">
    <div class="discussion-sidebar-heading text-bold">
      Assignees
    </div>

    <% if @issue.assignees.empty? %>
      <span class="css-truncate js-issue-assignees">
        No one assigned
      </span>
    <% else %>
      <% @issue.assignees.each do |assignee| %>
        <span class="css-truncate js-issue-assignees">
          <p>
          <span class="d-flex min-width-0 flex-1">
            <a class="no-underline" href="/<%= assignee.login %>">
              <img class="avatar mr-1 avatar-user" src="<%= assignee.avatar_url %>" width="20" height="20" alt="@<%= assignee.login %>">
            </a>
            <a class="assignee Link--primary css-truncate-target width-fit" href="/<%= assignee.login %>">
              <span class="css-truncate-target width-fit v-align-middle"><%= assignee.login %></span>
            </a>
          </span>
          </p>
        </span> 
      <% end %>
    <% end %>
  </form>
</div>
<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <div class="discussion-sidebar-heading text-bold">
    Labels
  </div>

  <% @issue.labels.each do |label| %>
    <div class="js-issue-labels d-flex flex-wrap">
      <a href="https://github.com/<%= params[:user] %>/<%= params[:repo] %>/labels/<%= label.name %>" data-name="<%= label.name %>" style="--label-r:0;--label-g:152;--label-b:0;--label-h:120;--label-s:100;--label-l:29; background-color: #<%= label.color %>" class="IssueLabel hx_IssueLabel width-fit mb-1 mr-1">
        <span class="css-truncate css-truncate-target width-fit"><%= label.name %></span>
      </a>
    </div>
  <% end %>
</div>

<div class="discussion-sidebar-item sidebar-progress-bar js-discussion-sidebar-item">
  <form class="js-issue-sidebar-form" aria-label="Select milestones" action="/whatwg/html/issues/7342/set_milestone?partial=issues%2Fsidebar%2Fshow%2Fmilestone" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put" autocomplete="off"><input type="hidden" name="authenticity_token" value="+OzgcNiKzpiXf66G/6zND6zbQ5ufm6vIuU43Jh0KboCrHHX8hhiz0l5ErgoSjsF0LhMogWgsd8yRC3JgaBt8cg==">
    <div class="discussion-sidebar-heading text-bold">
      Milestone
    </div>

    No milestone

  </form>
</div>

<div class="discussion-sidebar-item js-discussion-sidebar-item" data-issue-and-pr-hovercards-enabled="">
  <form class="js-issue-sidebar-form" aria-label="Link issues" action="/whatwg/html/issues/closing_references?source_id=1056999977&amp;source_type=ISSUE" accept-charset="UTF-8" method="post">
    <div class="discussion-sidebar-heading text-bold">
      Linked pull requests
    </div>

    <p>Successfully merging a pull request may close this issue.</p>

    None yet
  </form>
</div>

<div class="discussion-sidebar-item sidebar-notifications">
  <div class="thread-subscription-status">
    <div class="d-flex position-relative">
      <details class="lh-default details-overlay details-overlay-dark details-reset color-fg-default width-full">
        <summary aria-label="Customize notification settings" role="button" data-view-component="true" class="discussion-sidebar-heading discussion-sidebar-toggle">
          <div class="d-flex flex-justify-between">
            <div class="text-bold">Notifications</div>
            <span>Customize</span>
          </div>
        </summary>
        <details-dialog src="/notifications/thread_subscription_dialog?repository_id=11969507&amp;thread_class=Issue&amp;thread_id=1056999977" aria-label="Notification settings" data-view-component="true" class="Box Box--overlay flex-column fast overflow-auto d-flex f5 anim-fade-in" role="dialog" aria-modal="true">
          <div class="Box-header">
            <%= render(Primer::ButtonComponent.new("aria-label": "Close dialog", "data-close-dialog": true)) do |button| %>
              <% button.icon(icon: :x) %>
            <% end %>
            <h3 class="Box-title mb-0 mt-0">
              Notification settings
            </h3>
          </div>
        </details-dialog>
      </details>
    </div>
  </div>
  <form data-replace-remote-form="true" class="thread-subscribe-form" action="/notifications/thread" accept-charset="UTF-8" method="post">
    <button type="submit" class="btn btn-block btn-sm thread-subscribe-button" data-disable-with="">
      <%= render(Primer::OcticonComponent.new(icon: :bell)) %>
      Subscribe
    </button>
  </form>
  <p class="reason text-small color-fg-muted">You’re not receiving notifications from this thread.</p>
</div>

<div id="partial-users-participants" class="discussion-sidebar-item">
  <div class="participation">
    <div class="discussion-sidebar-heading text-bold">
      1 participants
    </div>
    <div class="participation-avatars d-flex flex-wrap">
      <a class="participant-avatar" href="https://github.com/<%= issue.user.login %>">
        <%= render(Primer::Beta::Avatar.new(src: issue.user.avatar_url, alt: "@#{@issue.user.login}", size: 24)) %>
      </a>
    </div>
  </div>
</div>
