<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Issues2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/@primer/css@18.2.0/dist/primer.css" rel="stylesheet" />
    <%= javascript_importmap_tags %>

    <style>
      .comment-body {
          width: 100%;
          padding: 15px;
          overflow: visible;
          font-size: 14px;
      }
      .timeline-comment {
        position: relative;
        color: var(--color-fg-default);
        background-color: var(--color-canvas-default);
        border: 1px solid var(--color-border-default);
        border-radius: 6px;
      }
      .timeline-comment-header-text {
          min-width: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: 1px;
          flex: 1 1 auto;
      }
      .timeline-comment-header {
        align-items: center;
        padding-right: 16px;
        padding-left: 16px;
        color: var(--color-fg-muted);
        flex-direction: row-reverse;
        background-color: var(--color-canvas-subtle);
        border-bottom: 1px solid var(--color-border-default);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    </style>
  </head>

  <body>
    <header class="Header js-details-container Details px-3 px-md-4 px-lg-5 flex-column hx_breadcrumb-header" role="banner" id="header">
      <div class="d-flex width-full">
        <div class="Header-item">
          <a class="Header-link hx_breadcrumb-header-logo" href="https://github.com/" aria-label="Homepage">
            <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
              <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
          </a>
        </div>

        <%= yield :header %>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
