<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title).presence || 'GitHub' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/@primer/css@18.2.0/dist/primer.css" rel="stylesheet" />
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <style>
      .comment-body {
          width: 100%;
          padding: 15px;
          overflow: visible;
          font-size: 14px;
      }
      .timeline-comment {
        position: relative;
        color: var(--color-fg-default);
        background-color: var(--color-canvas-default);
        border: 1px solid var(--color-border-default);
        border-radius: 6px;
      }
      .timeline-comment-header-text {
          min-width: 0;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: 1px;
          flex: 1 1 auto;
      }
      .timeline-comment-header {
        align-items: center;
        padding-right: 16px;
        padding-left: 16px;
        color: var(--color-fg-muted);
        flex-direction: row-reverse;
        background-color: var(--color-canvas-subtle);
        border-bottom: 1px solid var(--color-border-default);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      .footer-octicon {
        color: var(--color-fg-subtle);
      }
      .user-mention, .team-mention {
        font-weight: 600;
        color: var(--color-fg-default);
        white-space: nowrap;
      }
      .Box-row:first-of-type {
        border-top: 0;
      }

      .social-reaction-summary-item {
        height: 26px;
        padding: 0 6px !important;
        margin-right: 0;
        font-size: 12px;
        line-height: 26px;
        background-color: transparent;
        border: 1px solid var(--color-border-default, #d2dff0);
        border-radius: 100px;
        color: var(--color-fg-default);
      }

      .social-button-emoji {
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 1em !important;
        line-height: 1.25;
        vertical-align: -1px;
      }

      .social-reaction-summary-item span {
        padding: 0 4px;
        margin-left: 2px;
      }

      .comment-reactions {
        margin: 0 16px 16px 16px;
      }

      .new-reactions-summary-item {
        width: 26px;
        height: 26px;
        padding: 0;
        line-height: 26px;
        background-color: var(--color-btn-bg);
      }

      .new-reactions-summary-item .octicon {
        vertical-align: text-bottom;
      }

      .new-reactions-dropdown .dropdown-menu-reactions {
        width: auto;
        padding: 0 2px;
      }

      .new-reactions-dropdown .dropdown-item-reaction {
        width: 32px;
        height: 32px;
        padding: 4px;
        margin: 4px 2px;
      }
    </style>
  </head>

  <body>
    <header class="Header js-details-container Details px-3 px-md-4 px-lg-5 flex-column hx_breadcrumb-header" role="banner" id="header">
      <div class="d-flex width-full">
        <div class="Header-item">
          <a class="Header-link hx_breadcrumb-header-logo" href="https://github.com/" aria-label="Homepage">
            <%= render(Primer::OcticonComponent.new("mark-github", size: :medium, width: 32, height: 32, classes: "v-align-middle")) %>
          </a>
        </div>
        <%= yield :header %>
      </div>
    </header>

    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
